* {
    margin: 0%;
    padding: 0%;
}

/* Header */

header{
    background-image: url(imagenes/patron-carbono.jpg);
}

header h1{
    padding: 2%;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

/* cuerpo */

body{
    background-image: url(imagenes/patron-blanco.jpg);
}

/* Formuarios */

section{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

div{
    background-image: url(imagenes/patron-carbono.jpg);
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 2%;
    padding-top: 1%;
    border-left: 5px solid rgb(162, 162, 162);
}

div h2{
    font-family: 'Arial', sans-serif;
    padding: 1%;
    padding-bottom: 0%;
    color: white;
}

div p{
    padding-left: 1%;
    color: white;
}

/* Footer */

footer{
    background-image: url(imagenes/patron-carbono.jpg);
    text-align: center;
    padding: 5%;
    font-family: 'Arial', sans-serif;
    color: white;
}